* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #CEE3F8;
}

.all-comments {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 150px;
    width: 100%;
}

.all-content {
    display: flex;
}

.navbar {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 5;
}

.fixed {
    position:fixed;
    top:0;
    width: 100%;
}


.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 31);
}

.current-user-parent{
    margin-left: 10%;
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.create-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding: 50px;
}

.comment-form {
    display: flex;
    align-items: center;
    margin: 0;
    width: 90%;
    margin-bottom: 50px;
}

.search-toolbar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}



.search{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.search .text {
    font-size: 18px;
    margin-left: 20px;
}

.search input {
    position: absolute;
    height: 45px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    opacity: .8;
    pointer-events: none;
    margin-left: 48px;
    background-color: #ccc;
    
}
.search input::placeholder {
    color: black;
}

.search input:hover{
    border: 1px solid black;
}


.search input.active{
    opacity: 1;
    pointer-events: auto;
    border: 1px solid black;
    background-color: transparent;
}

.search button{
    width: 47px;
    height: 42px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: #4895ef;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px ;
    transition: .2s ease;
}
.search button:hover{
    color: #333;
    transition: none;
}
.search button.active {
    color: #fff;
    background: #4895ef;
}

.search button.active i::before {
    content: "\f00d";
}
.search button.active:hover {
    background-color: #333;
}


.home-filler{
    height: 100px;
    background-color: #293241;
    width: 100%;
}

.form-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}


.form-post .form-group-upper {
    padding-bottom: 5%;
    width: 100%;
    height: 30%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}



.form-post .form-group {
    width: 100%;
    font-size: 16px ;
    margin-bottom: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}


.form-post .form-group label {
    align-self: flex-start;
    font-size: 20px ;
}

.form-post .form-group-upper input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid #333;
    margin-top: 10px;

}

.form-post .form-group-middle {
    padding-bottom: 5%;
    width: 100%;
    height: 30%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px ;
    margin-top: 1%;
}

:is(.radio1, .radio2, .radio3) {
    padding: 10px
}

input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
    margin-right: 5px;
}

.form-post textarea {
    width: 100%;
    resize: none;
    font-size: 16px;
    border: 1px solid #333;
    padding: 15px;
    margin-top: 10px;
}





.form-post .error-texti {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-post .success-texti {
    color: rgb(0, 0, 0);
    background: #76ff94;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 1s ease-in-out;
}


.post-topic-button input {

    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 15px;
    margin-top: 20px;
}

.post-topic-button input:hover {
    background-color: #4895ef;
}


.post-comment input {
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 15px;
}

.ck {
    height: 200px;
}

.create {
    font-size: 17px;
    font-weight: 500;
    padding: 7px 15px;
    background: #ee6c4d;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: block;
    color: #fff;
}

.logout{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 15px;
    background: #3d5a80;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-right: 10px;
}

.back {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 15px;
    background: #3d5a80;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-right: 20px;
}


:is(.create:hover , .logout:hover, .back:hover) {
    background-color: #4895ef;
}


.home {
    display: flex;
    justify-content: center;
    padding: 5rem 1rem;
    width: 100%;
    position: absolute;
    top: 300px;
}

.discussion-page{
    width: 800px;
    display: flex;
    flex-direction: column;
    color: black;
}


.room-container {
    width: 100%;
    padding-left: 25px;
    background-color: #e6e4e4;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid #ccc;
    overflow-y: hidden;
}

.room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    margin: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: hidden;
  }

  .room-container:hover {
      border: 1px solid black;
  }


  .empty-room {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
  }

  

  .room-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      padding: 20px;
      width: 800px;
  }

.sort-comments {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    font-weight: 500;
}
.sort-comments a {
    cursor: pointer;
}

  .post-hr {
    border: 0;
    height: 1px;
    background: #333;
    width: 80%;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 50px; 
  }

  .room-header-h1 {
      font-size: 22px;
      margin-bottom: 15px;

  }

  .room-header-p {
      font-size: 18px;
  }

  .post-toolbar {
      display: flex;
      font-size: 14px;
      margin-left: 10px;
  }

  .post-toolbar i {
      margin-right: 5px;
  }

.date-and-users{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    height: 20%;
    align-self: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.date-and-post{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    height: 20%;
    align-self: flex-start;
    margin-bottom: 10px;
}

.date-users {  
    display: flex;
    font-size: 14px;
}   

.username-users {
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
} 

.user-post {
    margin-top: 20px;
    font-size: 22px;
}

.hashtag {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-right: 5px;
}


.bodytext-users{
    align-self: flex-start;
    width: 100%;
    margin-bottom: 10px;
}



.bodytext-users p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-left: 10px;
    font-size: 16px;
}



.date {
    margin-right: 15px;
    text-align: left;
    display: flex;
    margin-bottom: 20px;
    font-size: 12px;
}

.username {
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
}

.discussion-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    background-color: #fff;
    margin-bottom: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.discussion-wrapper {
    width: 90%;
    border-left: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}


.discussion {
    width: 70%;
    margin-left: 10px;
}

.bodytext p{
    word-wrap: break-word;
    max-width: 100%;  
    font-size: 16px;
    overflow-x: hidden ;
}

.wrapper {
    background: #fff;
    width: 30%;
    height: 80%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.wrapper-login {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    padding: 25px 30px;
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form {
    margin: 20px 0;
}


.form form .error-texti {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c4c8;
}



.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}


.form form .field input {
    outline: none;
}




.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.form form .field label {
    margin-bottom: 2px;
}

.form form .field .image input {
    font-size: 17px;
}



.form form .button input {
    margin-top: 15px;
    height: 40px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #4895ef;
    border-radius: 5px;
    cursor: pointer;
}

.form form .button input:hover {
    background-color: #333;
}

.form form .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    transform: translateY(-50%);
    top: 70%;
    cursor: pointer;
}

.form form .field i.active::before{
    content: "\f070";
    color: #333;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: #333;
}

.form .link a:hover{
    opacity: .5;
}

/* KÄYTTÄJÄ ALUE */

.users {
    padding: 60px 30px;
    width: 100%;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.users header .content img{
    height: 50px;
    width: 50px;
}


:is(.users, .users-list,) .content{
    display: flex;
    align-items: center;
}

:is(.users, .users-list) .details{
    color: #000;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

:is(.users, .users-list) hr {
    border: 0;
    height: 1px;
    background: #333;
    opacity: .2;
}


:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.current-user span{
    font-size: 28px;
    font-weight: 500;
}



.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}


.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #4895ef;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px ;
    transition: .2s ease;
}
.users .search button:hover{
    background-color: #333;
}
.users .search button.active {
    color: #fff;
    background: #4895ef;
}

.users .search button.active i::before {
    content: "\f00d";
}
.users .search button.active:hover {
    background-color: #333;
}


.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.chat-box, .users-list)::-webkit-scrollbar{
    width: 0px;
}
.users-list a {
    padding-right: 15px;
    margin-bottom: 10px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list .status-dot {
    font-size: 12px;
    color: rgb(10, 153, 65);
    margin-right: 15px;
}

/*CODE FOR PHP*/
.users-list .status-dot.offline {
    font-size: 12px;
    color: #ccc;
    margin-right: 15px;
}


/* Chat Area*/

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: rgba(0, 0, 0, .1) 0px -50px 36px -28px inset;
}
.chat-box .chat p{
    padding: 8px 16px;
    word-wrap: break-word;
}

.chat-box .outgoing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}



.incoming .details {
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: rgb(233, 233, 233);
    color: #333;
    
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: #333;
    font-size: 19px;
    color: #fff;
}

.discussion-area {
    width: 100%;
}

.success {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.redirect {
    margin-top: 15px;
    border: none;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.redirect:hover {
    color: #4895ef;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 

  /*  Modal section  */
  .bg-modal {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      z-index: 10;
      justify-content: center;
      align-items: center;
      display: none;
  }

  .modal-content {
      width: 80%;
      height: 80%;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: scroll;
      position: relative;
    }

    .modal-close {
        position: absolute;
        top: 10px;
        right: 24px;
        font-size: 50px;
        cursor: pointer;
    }


    .scrollup {
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        text-align: center;
        padding: 10px;
        z-index: 100;
        display: none;
      }

      .profile {
          width: 400px;
          height: 400px;
          background-color: #fff;
          margin-left: 40px;
          border-radius: 5px;
          position: relative;
      }

      .profile-status {
        width: 400px;
        height: 50px;
        background-color: #333;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .profile-status h1 {
          color: white;
          margin-left: 10px;
          font-size: 20px;
      }

      .users-link {
        margin: 15px 0 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100px;
      }

      .member-amount, .members-online {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .amount {
        font-weight: 500;
        font-size: 20px;
      }

      .profile hr {
        border: 0;
        height: 1px;
        background: #ccc;
        width: 95%;
        margin: auto;
      }

    
    
