* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: all .1s ease-in-out;
}

body {
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    background-repeat: no-repeat;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 31);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.current-user-parent{
    margin-left: 10%;
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.create-form {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80%;
    color: black;
    background: #fff;
    padding: 2%;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-post .form-group-upper {
    padding-bottom: 5%;
    width: 100%;
    height: 15%;
    font-size: 28px;
    
}



.form-post .form-group {
    width: 100%;
    height: 70%;
    font-size: 28px ;
    margin-bottom: 5%;
}

.form-post .form-group-upper input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid #333;

}

.form-post .form-group-middle {
    padding-bottom: 5%;
    width: 100%;
    height: 30%;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px ;
    margin-top: 1%;
}

:is(.radio1, .radio2, .radio3) {
    padding: 10px
}

input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
    margin-right: 5px;
}

.form-post textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 20px;
    border: 1px solid #333;
    padding: 20px;
    margin-top: 10px;
}



.post-topic-button input:hover {
    background-color: #4895ef;
}

.form-post .error-texti {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-post .success-texti {
    color: rgb(0, 0, 0);
    background: #76ff94;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-topic-button input {

    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 7px 15px;
}
.create {
    font-size: 17px;
    font-weight: 500;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.create a {
    color: #fff;
}

.logout{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logout a{
    color: #fff;
}

:is(.create:hover , .logout:hover) {
    background-color: #4895ef;
}


.home {
    display: flex;
    justify-content: space-around;
    padding: 5rem 1rem;
    width: 100%;
    height: 100vh;
}

.discussion-page{
    width: 30%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    
}


  




.date {
    margin-right: 15px;
    text-align: left;
    display: flex;
    margin-bottom: 20px;
}

.username {
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
}

.discussion-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discussion-wrapper {
    width: 80%;
    border-left: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}


.discussion {
    width: 70%;
    margin-left: 10px;
}

.bodytext p{
    word-wrap: break-word;
    max-width: 100%;  
    font-size: 24px;
}

.wrapper {
    background: #fff;
    width: 30%;
    height: 80%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.wrapper-login {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    padding: 25px 30px;
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form {
    margin: 20px 0;
}


.form form .error-texti {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c4c8;
}



.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}


.form form .field input {
    outline: none;
}




.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.form form .field label {
    margin-bottom: 2px;
}

.form form .field .image input {
    font-size: 17px;
}



.form form .button input {
    margin-top: 15px;
    height: 40px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #4895ef;
    border-radius: 5px;
    cursor: pointer;
}

.form form .button input:hover {
    background-color: #333;
}

.form form .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    transform: translateY(-50%);
    top: 70%;
    cursor: pointer;
}

.form form .field i.active::before{
    content: "\f070";
    color: #333;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: #333;
}

.form .link a:hover{
    opacity: .5;
}

/* KÄYTTÄJÄ ALUE */

.users {
    padding: 60px 30px;
    width: 100%;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.users header .content img{
    height: 50px;
    width: 50px;
}


:is(.users, .users-list,) .content{
    display: flex;
    align-items: center;
}

:is(.users, .users-list) .details{
    color: #000;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

:is(.users, .users-list) hr {
    border: 0;
    height: 1px;
    background: #333;
    opacity: .2;
}


:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.current-user span{
    font-size: 28px;
    font-weight: 500;
}



.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px transparent;
}
.users .search:hover{
    border-bottom: 1px solid #333;
    transition: .5s ease-in-out;
}


.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #4895ef;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px ;
    transition: .2s ease;
}
.users .search button:hover{
    background-color: #333;
}
.users .search button.active {
    color: #fff;
    background: #4895ef;
}

.users .search button.active i::before {
    content: "\f00d";
}
.users .search button.active:hover {
    background-color: #333;
}


.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.chat-box, .users-list)::-webkit-scrollbar{
    width: 0px;
}
.users-list a {
    padding-right: 15px;
    margin-bottom: 10px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list .status-dot {
    font-size: 12px;
    color: rgb(10, 153, 65);
    margin-right: 15px;
}

/*CODE FOR PHP*/
.users-list .status-dot.offline {
    font-size: 12px;
    color: #ccc;
    margin-right: 15px;
}


/* Chat Area*/

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: rgba(0, 0, 0, .1) 0px -50px 36px -28px inset;
}
.chat-box .chat p{
    padding: 8px 16px;
    word-wrap: break-word;
}

.chat-box .outgoing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}



.incoming .details {
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: rgb(233, 233, 233);
    color: #333;
    
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: #333;
    font-size: 19px;
    color: #fff;
}

.discussion-area {
    width: 100%;
}

.success {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.redirect {
    margin-top: 15px;
    border: none;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.redirect:hover {
    color: #4895ef;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .room {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
    width: 100%;
    height: 30%;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 10px;
        
    
  }
  .room:hover {
      background-color: #333;
  }

  .empty-room {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      font-size: 50px;
  }

  .room-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px;
      font-size: 30px;
  }

  